PUBLIC_NOVU_APPLICATION_IDENTIFIER=your_application_identifier
PUBLIC_NOVU_SUBSCRIBER_ID=your_subscriber_id

# Set these for a self-hosted Novu instance.
# PUBLIC_NOVU_API_URL=http://localhost:3000
# PUBLIC_NOVU_SOCKET_URL=http://localhost:3002
